<% content_for(:breadcrumbs) do %>
  <li class='active'>Listings</li>
<% end %>

<%= render :partial => 'listing', :collection => @listings %>

<% content_for(:side_nav) do %>
  <li><%= link_to 'Add Listing', new_listing_path %></li>
<% end %>
